
# dont ignore anything in blarify/vendor

__pycache__/
.venv/
.env
lsp-ws-proxy/
ruby-on-rails-sample-app/
.python-version
.vscode/
.idea/
dist/
fil-result/
example
delete.py
*.json

!blarify/vendor/**/*.json

