[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120

[tool.codespell]
check-filenames = true
check-hidden = true
skip = "*.csv,*.html,*.json,*.jsonl,*.pdf,*.txt,*.ipynb"

[tool.isort]
profile = "black"

[tool.poetry]
name = "blar-graph"
version = "0.1.4"
description = "Llm agent to search within a graph"
authors = ["Benjamín Errazuriz <benjamin@blar.io>", "José Domínguez <jose@blar.io>"]
readme = "README.md"
homepage = "https://blar.io"
repository = "https://github.com/blarApp/code-base-agent"
license = "MIT"
packages = [{include = "blar_graph", from = "src"}]
exclude = ["src/blar_graph/examples/*"]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
llama-index-packs-code-hierarchy = "^0.1.1"
llama-index = "^0.10.20"
python-dotenv = "^1.0.1"
tree-sitter-languages = "^1.10.2"
langchain = "^0.1.13"
langchain-openai = "^0.1.1"
neo4j = "^5.18.0"
timeout-decorator = "^0.5.0"

[tool.poetry.group.dev.dependencies]
isort = "^5.13.2"
black = "^24.3.0"
pre-commit = "^3.7.0"

[tool.ruff]
line-length = 120
